<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GalleryCart</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/GalleryCart.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="min-h-screen flex flex-col">
    @* Header partial here *@
	<partial name="CustomComponent/_Navbar" />

	@* Main content area *@
    <main class="flex-grow">
		@RenderBody()
    </main>


	@* Footer partial here *@
    <partial name="CustomComponent/_Footer" />

    @* This is used for icons *@
    <script src="https://kit.fontawesome.com/ba8c3661b4.js" crossorigin="anonymous"></script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
