@{
    ViewData["Title"] = "Home Page";
}

<div class="place-content-center">
    <h1 class="text-blue-600">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
